extends layout

block one-column
  - var i = 1;
  nav(aria_label="Page navigation")
    ul.pagination
      while (i <= nPage)
        unless (Math.abs(i - index) < 5 || i % 5 == 0 || i == 1 || i == nPage)
          - i++
          - continue
        if index == i
          li.active.disabled
            a(href=`/storage/list/${i}${searchQuery ? `?q=${searchQuery}`:''}`)=i++
        else
          li
            a(href=`/storage/list/${i}${searchQuery ? `?q=${searchQuery}`:''}`)=i++

  form.form-horizontal(action='/storage/list/', method="get")
    .input-group
      input.form-control(type="text" name="q" placeholder="Search" value=searchQuery)
      .input-group-btn
        button.btn.btn-default
          span.glyphicon.glyphicon-search

  table.table(style="margin-top: 10px;")
    tr
      th Emails
      th Creation
      th View
      th Edit
      th Duplicate
      th Delete
      th Send
    each email in list
      tr
        td= email.name
        td= moment(email.created).fromNow()
        td
          a(href=email.view) View
        td
          a(href=email.edit) Edit
        td
          a(href=email.duplicate) Duplicate
        td
          a(href=email.delete) Delete
        td
          a(href=email.send) Send

  form.form-horizontal
    .form-group
      .col-sm-6
        select#templateSelector.form-control(required)
          option(value="") Choose a template
            each template in templates
              option(value=template.url)= template.name
      .col-sm-6
        button#newEmailBtn.btn.btn-block.btn-primary(disabled) Create new email
        script.
          (function() {
            document.getElementById('templateSelector').onchange = function() {
              document.getElementById('newEmailBtn').disabled = !document.getElementById('templateSelector').value;
            };

            document.getElementById('newEmailBtn').onclick = function(e) {
              e.preventDefault();
              if (!document.getElementById('templateSelector').value) {
                return;
              }

              window.location.href = document.getElementById('templateSelector').value;
            };
          })();
