extends layout

block content

  style.
    .margin-bottom {
      margin-bottom: 25px;
    }
  .container
    if logFile
      .row
        a(href=`/send/${id}/export/`) Download send summary
      hr
    form(method="post",action="/send/" + id , class="form-horizontal")
      .form-group
        label.col-xs-12.col-sm-3.col-md-2.control-label(for='fromName') From name&nbsp;:
        .col-xs-12.col-sm-9.col-md-10.margin-bottom
          input.form-control(name="fromName" value=(fromName)? fromName : '')
          if errors
            if errors.tooLongName
              p(style="color: red;")= errors.tooLongName
      .form-group
        label.col-xs-12.col-sm-3.col-md-2.control-label(for='fromAddress') From email&nbsp;:
        .col-xs-12.col-sm-9.col-md-10.margin-bottom
          input.form-control(name="fromAddress" value=(fromAddress)? fromAddress : '')
          if errors
            if errors.invalidFromAdress
              p(style="color: red;")= errors.invalidFromAdress
      .form-group
        label.col-xs-12.col-sm-3.col-md-2.control-label(for='mailSubject') Subject line&nbsp;:
        .col-xs-12.col-sm-9.col-md-10.margin-bottom
          input.form-control(name="mailSubject" value=(mailSubject)? mailSubject : '')
          if errors
            if errors.tooLongSubject
                p(style="color: red;")= errors.tooLongSubject
      .form-group
        label.col-xs-12.col-sm-3.col-md-2.control-label(for='to') To&nbsp;:
        .col-xs-12.col-sm-9.col-md-10.margin-bottom
          textarea.form-control(name="to" style="height: 150px;")= (mailList)? mailList : ''
          if errors
            if errors.noTo
              p(style="color: red;")= errors.noTo
            if errors.toManyTo
              p(style="color: red;")= errors.toManyTo
      input.col-xs-12.col-sm-4.col-sm-offset-3.col-md-offset-2.btn.btn-primary.margin-bottom(type="submit" value="Send mail")
